# macOS Finder
.DS_Store

# IDEA local files
/.idea
/.vscode

# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Swift Package Manager
/.build/
/Package.resolved

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
